body {
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

input[type="text"] {
    width: 80%; /* 使用百分比替代固定宽度 */
    max-width: 300px; /* 最大宽度依旧保持 300px */
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #bbb;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4D9FEC; /* 调整为深蓝色 */
    border: none;
    border-radius: 5px;
    color: white;
    width: auto; /* 按钮宽度自适应内容 */
    max-width: 200px; /* 最大宽度200px */
    transition: background-color 0.3s, box-shadow 0.3s; /* 平滑过渡效果 */
}

button:hover, button:focus {
    background-color: #3B8AD9; /* 悬浮和选中时的背景色更深 */
    box-shadow: 0 0 8px rgba(0,123,255,0.5); /* 添加轻微的阴影效果 */
    outline: none; /* 移除焦点时的轮廓线 */
}

#svgContainer {
    width: 100%; /* 宽度为100%以适应屏幕 */
    max-width: 400px; /* 最大宽度为400px */
    background-color: #f8eedb;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px auto;
}

/* 媒体查询：屏幕宽度小于600px */
@media (max-width: 600px) {
    .container {
        margin-top: 20px;
    }

    input[type="text"], button {
        width: 90%; /* 增加输入框和按钮的宽度使其更适合小屏幕 */
    }

    h1 {
        font-size: 20px; /* 减小标题字体大小 */
    }

    #svgContainer {
        max-width: 90%; /* 减小 SVG 最大宽度以适应屏幕 */
        min-width: 250px; /* 设置最小宽度，确保SVG内容可见性 */
    }
}
